{% extends 'default_1.html' %}

<!-- для редактирования -->
{% block content %}
<html>
<head>
    <title>Edit Advertisement</title>
</head>
<body>
    <h1>Edit Advertisement</h1>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" name="action" value="save_image">Сохранить изображение</button>

    <button type="submit" name="action" value="save_video">Сохранить видео</button>

    <a href="{% url 'home' %}">Вернуться на главную</a>
</form>
</body>
</html>
{% endblock %}