{% extends "default.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Все объявления и отклики</h1>

    <!-- Отображение всех объявлений -->
    <h2>Все объявления:</h2>
    <ul>
        {% for advertisement in all_advertisements %}
            <li>{{ advertisement.title }} - {{ advertisement.category }}</li>
        {% endfor %}
    </ul>

    <!-- Отображение всех откликов -->
    <h2>Все отклики:</h2>
    <ul>
        {% for response in all_responses %}
            <li>{{ response.content }} - {{ response.advertisement.title }} - {{ response.advertisement.category }}</li>
        {% endfor %}
    </ul>

    <!-- Отображение новостной рассылки от администратора -->
    <h2>Новостная рассылка от администратора:</h2>
    <ul>
        {% for news_item in admin_news %}
            <li>{{ news_item.title }} - {{ news_item.content }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'private' %}">Перейти на страницу 'private'</a>

</body>
</html>
{% endblock %}