{% extends "default.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private Page</title>
</head>
<body>
    <h1>Отклики на ваши объявления</h1>

    <!-- Форма для фильтрации откликов -->
    <form method="GET">
        <label for="title">Фильтр по названию объявления:</label>
        <input type="text" name="title" id="title" value="{{ request.GET.title }}">

        <label for="category">Фильтр по категории объявления:</label>
        <select name="category" id="category">
            <option value="">Выберите категорию</option>
            {% for category_key, category_name in form.fields.category.choices %}
                <option value="{{ category_key }}" {% if request.GET.category == category_key %}selected{% endif %}>{{ category_name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Применить фильтры</button>
    </form>

    <ul>
        <!-- Вывод откликов -->
        {% for response in private %}
            <li>{{ response.content }} - {{ response.advertisement.title }} - {{ response.advertisement.category }}
                <a href="{% url 'delete_response' response.id %}">Удалить</a>
                <a href="{% url 'accept_response' response.id %}">Принять</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
{% endblock %}