{% extends "default.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Все объявления и отклики</h1>

    <!-- Отображение всех объявлений -->
    <h2>Все объявления:</h2>
    <ul>
    <!-- Отображение всех объявлений -->
    {% for advertisement in all_advertisements %}
    <li>
        <h3>{{ advertisement.title }}</h3>
        <p>{{ advertisement.text }}</p>
        <p>{{ advertisement.category }}</p>
        <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}">

        <!-- Форма для создания отклика -->
        <form action="{% url 'create_response' advertisement_id=advertisement.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Создать отклик</button>
        </form>

        <!-- Отображение всех откликов к данному объявлению -->
        <ul>
            {% for response in advertisement.responses.all %}
                <li>
                    <p>{{ response.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
    <a href="{% url 'private' %}">Перейти на страницу 'private'</a>

</body>
</html>
{% endblock %}